<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    /* Directive */
    [v-cloak]{
        display: none;
    }
</style>
<body>
    <div id="app" v-cloak>
        <div>
            <button @click="inc">+</button>
            <!-- <button @click="age++">+</button> -->
            <button v-on:click="dec">-</button>
            <!-- <button v-on:click="age--">-</button> -->
            <p>{{age}}</p>
            <p v-html="raw"></p>
            <p><a :href="url">Click here</a></p>
            <p>{{name()}}</p>
            <label for="">First name</label>
            <input v-model="first"></input> <br>
            <label for="">Last name</label>
            <input v-model="last"></input>
        </div>
        {{ start() }}
    </div>

    <div class="app" v-cloak>
        {{ start() }}
    </div>

    <!-- CDN -->
    <script src="https://unpkg.com/vue@3"></script>

    <script>
        //Initialize the application

        //first method
        Vue.createApp({
            data(){
                return {
                    age: 1,
                    raw: '<h1>hello</h1>',
                    url:'https://google.com',
                    message: 'Hello',
                    msg: 'World',
                    first: '',
                    last: ''
                }
            },
            methods: {
                start() {
                    return ` ${this.message} ${this.msg} `
                },
                name(){
                    return `${this.first} ${this.last}`
                },
                inc(){
                    this.age++
                    
                },
                dec(){
                    
                    let test = this.age

                    switch(test){
                        case 0:
                            age = 0
                        break;

                        default:
                            this.age--
                    }
                    
            
                }
                
            }
        }).mount('#app')

        const vm = Vue.createApp({
            data(){
                return {
                    message: 'Hello World',
                    msg: '2'
                }
            },
            methods: {
                start(){
                    return ` ${this.message} ${this.msg} `
                }
            }
        }).mount('.app')

        setTimeout(() => {vm.message = 'Hello World x'}, 2000)

        //Second method
        // const {createApp} = Vue;

        // createApp({
        //     data(){
        //         return {
        //             msg: 'Hello'
        //         }
        //     }
        // }).mount('#app')

        //Mount: Insert a Vue application into the document
        //Data(): function that set the data into the application

        //Expresion: Block of code that evaluates a value
        //Proxy: A figure that represents the value of something in calculation
        //Method: Function to perform a task
        //Directives: Attributes that chain the behavior of the element into which is applied
        //Reactivity: Data reflected inmediatly when changes are made
        //Events modifiers: Modify how the event is handle
            
        //directives
        //v-bind: || :  bind data 
        //var-html      -attach html from data 
    
    </script>
</body>
</html>